# Ignore all .log files
*.log

# Ignore a specific file
sudoku_solutions.txt
sudoku_puzzles.txt

generated_solutions.txt
generated_puzzles.txt
# Ignore all files in a folder
/temp/

# Ignore environment and build files
env
__pycache__/
node_modules/

# Ignore all .pyc files (Python)
*.pyc

# Ignore VSCode settings folder
.vscode/
